Repository team401/2024-Robot-Code, pull requests merged in 2024-01, with the labels that each got.

#16 Adds basic necessary components
  .gitignore
  build.gradle
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Utils/Deadband.java
  src/main/java/frc/robot/Utils/FeedForward/TuneG.java
  src/main/java/frc/robot/Utils/FeedForward/TuneS.java
  src/main/java/frc/robot/Utils/FeedForward/TuneV.java
  src/main/java/frc/robot/Utils/SystemsTest.java
  src/main/java/frc/robot/Utils/Tunable.java
  src/main/java/frc/robot/Utils/WaitForButtonCommand.java
  vendordeps/AdvantageKit.json
  vendordeps/PathplannerLib.json
  vendordeps/Phoenix6.json
  vendordeps/REVLib.json
  vendordeps/photonlib.json
Labels: urgent

#17 Adds initial readme
  README.md
  images/ShooterStates.png
  images/idleShooter.png
  images/rampShooter.png
  images/shootShooter.png
Labels: documentation

#35 Update issue templates
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: feature

#27 Puts drive sim on AdvantageKit
  .gitignore
  simgui-ds.json
  simgui.json
  src/main/deploy/pathplanner/navgrid.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Telemetry.java
  src/main/java/frc/robot/commands/DriveWithJoysticks.java
  src/main/java/frc/robot/subsystems/drive/CommandSwerveDrivetrain.java
  src/main/java/frc/robot/subsystems/scoring/AimerIOSim.java
Labels: drivetrain, sim

#41 Introduce AprilTag Localization
  .vscode/settings.json
  src/main/deploy/taglayout/2024-WPI.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Telemetry.java
  src/main/java/frc/robot/subsystems/localization/CameraIO.java
  src/main/java/frc/robot/subsystems/localization/CameraIOPhoton.java
  src/main/java/frc/robot/subsystems/localization/VisionLocalizer.java
Labels: nav, vision

#37 Adds scoring features
  README.md
  simgui.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/scoring/AimerIOSim.java
  src/main/java/frc/robot/subsystems/scoring/AimerIOTalon.java
  src/main/java/frc/robot/subsystems/scoring/ScoringSubsystem.java
  src/main/java/frc/robot/subsystems/scoring/ShooterIO.java
  src/main/java/frc/robot/subsystems/scoring/ShooterIOSim.java
  src/main/java/frc/robot/subsystems/scoring/ShooterIOTalon.java
  src/main/java/frc/robot/utils/InterpolateDouble.java
Labels: scoring

#53 Simulate PhotonVision
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Telemetry.java
  src/main/java/frc/robot/subsystems/localization/CameraIO.java
  src/main/java/frc/robot/subsystems/localization/CameraIOPhoton.java
  src/main/java/frc/robot/subsystems/localization/VisionIO.java
  src/main/java/frc/robot/subsystems/localization/VisionIOReal.java
  src/main/java/frc/robot/subsystems/localization/VisionIOSim.java
  src/main/java/frc/robot/subsystems/localization/VisionLocalizer.java
Labels: nav, sim, vision

#51 Amp scoring action and Mechanism2d
  simgui-ds.json
  simgui.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/scoring/AimerIO.java
  src/main/java/frc/robot/subsystems/scoring/AimerIOSim.java
  src/main/java/frc/robot/subsystems/scoring/AimerIOTalon.java
  src/main/java/frc/robot/subsystems/scoring/HoodIO.java
  src/main/java/frc/robot/subsystems/scoring/HoodIOSim.java
  src/main/java/frc/robot/subsystems/scoring/HoodIOVortex.java
  src/main/java/frc/robot/subsystems/scoring/ScoringSubsystem.java
  src/main/java/frc/robot/utils/InterpolateDouble.java
Labels: feature, scoring
